@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'italic',cursive ;
    font-size: 18px;
}
img{
  max-width:   100%;
  height: fit-content;
  border-radius: 10px;
  border: 1px solid rgb(200, 200, 200);
}
.column{
  background-color: #ffb6c1;
  width: 100%;
  max-width: 300px;
  tab-size: 200px;
  padding: 20px;
  border-radius: 25px;
  box-sizing: fixed;
  border-style: solid;
  margin: 5px;
  margin-bottom: 5px;
  text-align: center;
}
.row img{
  max-width:   100%;
 
  border-radius: 10px;
  border: 1px solid rgb(207, 207, 246);
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }
.row{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
  }
.button{
  float:center;
  display:inline-block;
  background-color: white;
  color: black;
  padding: 10px;
  width:50%;
  text-align:center;
}
.heading{
  text-align: center;
}
li{
  display: inline;
  padding-left:20px;
}



